* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 100%;
    height: 60px;
    background-color: black;
}
.menu {
    width: 70%;
    height:100%;
    margin: 0 auto;
}
.menu ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul .item a {
    font-size: 1.3rem;
    color: white;
    padding: 10px 15px;
}
.fas {
    margin: 0 7px;
}
ul .item a:hover {
    background-color: gray;
    color: black;
    border-radius: 6px;
    transition: 0.3s;
}
.item a:hover i:nth-of-type(2) {
    color: orange;
    transition: 0.5s;
}
.sub-menu-1 {
    display: none;
}
.menu ul .item:hover .sub-menu-1 {
    display: block;
    position: absolute;
    top: 50px;
    background-color: gray;
    border-radius: 7px;
    z-index: 500;
    border: 1px solid black;
}
.menu ul .item:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
    
}
.menu ul .item:hover .sub-menu-1 ul li {
    width: 230px;
    padding: 10px;
    border-bottom: 1px solid white;
    text-align: center;
    
}
.menu ul .item:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}
.fa-angle-right {
    float: right;
}
.sub-menu-2 {
    display: none;
}
.sub-menu-1 ul .second-sub:hover .sub-menu-2 {
    display: block;
    position: absolute;
    top: 15px;
    left: 230px;
    background-color: gray;
    border-radius: 7px;
    z-index: 1000;
    border: 1px solid black;
}
.sub-menu-1 ul .second-sub:hover .sub-menu-2 ul {
    display: block;
    margin: 10px;
    width: 188px;
    text-align: left;
}
.sub-menu-1 ul .second-sub:hover .sub-menu-2 ul li {
    text-align: center;
    width: 160px;
}
.sub-menu-1 ul .second-sub:hover .finance {
    position: absolute;
    top: 105px;   
    width: 189px; 
}
.banner {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: yellow;
    position: relative;
}
.banner h1 {
    font-size: 4.5em;
    position: absolute;
    top: 500px;
    left: 790px;
    text-transform: uppercase;

    animation: slide 6s infinite 1s linear;
}
@keyframes slide {
    0%{
      transform: translateX(400px);
    }
    25%{
        transform: translateX(-400px);
        color: white;
    }
    50%{
        transform: translateX(-200px);
        color: lightgray;
    }
    75%{
        transform: translateX(-500px);
        color: white;
    }
    100%{
        transform: translateX(400px);
        opacity: 1;
        color: black;
    }
}
.banner h2 {
    font-size: 3.5rem;
    position: absolute;
    top: 650px;
    left: 100px;
    text-transform: uppercase;

    animation: sec-slide 6s infinite 1s;
}
@keyframes sec-slide {
    0%{
      transform: translateX(100px);
    }
    25%{
        transform: translateX(600px);
    }
    50%{
        transform: translateX(250px);
    }
    75%{
        transform: translateX(810px);
    }
    100%{
        transform: translateX(100px);
    }
}
.info {
    width: 350px;
    height: 230px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: 50px;
    left: 800px;

    clip-path: circle(20px at 30px 30px);
    transition: all 0.5s linear;

    animation: info 2s infinite linear;

}
@keyframes info {
    0%{
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
.banner .info:hover {
    clip-path: circle(400px at 30px 30px);
    animation: none;
}
.banner .info:hover .info-i {
    background-color: yellow;
    color: black;
}
.info-i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: yellow;
    font-size: 1.8rem;
    text-align: center;
    line-height: 40px;

    position: absolute;
    top: 10px;
    left: 10px;
}
.info-text {
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    top: 18px;
    left: 165px;
}
img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 65px;
    left: 160px;
}